{% for iface, config in interfaces.items() %}
{% if config.ipv4 | default(false) == "dhcp" %}
- interface: "{{ iface }}"
  use-peer-dns: {{ config.ipv4_dhcp_use_peer_dns | default(omit) }}
{% endif %}
{% endfor %}